
$primary-infogain-color: #184376; 
$infogain-portal-color: radial-gradient(circle at 114% 107%,#4da88a 0,#005962 37%,#323538 120%);


$sidebar-bg: $infogain-portal-color; 
$primary-base:  $primary-infogain-color;

$warning-base: #ff8200; 